$bgcolor-grey: rgb(229,234,243);

$color-white: #fff;
$color-dark-purple: #6f73e9;
$color-blue:  #3652c9;
$color-grey: #8e8e8f;
$color-text: #19191f;
$color-dark-grey:#565657;
$checkbox-color: #ee9ca7;
$add-button: #ee9ca7;
$add-button-shadow: rgba(238, 156, 167,0.4);
$color-black: #000005;

$checkbox-shadow: rgba(238, 156, 167, 0.2);
$color-gradient: linear-gradient(90deg, rgba(54,82,201,1) 0%, rgba(36,174,214,1) 85%);