@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";
@import "src/assets/scss/classes";


.Board {
    padding: 3vh 12vh;
    .AddItem {
        background-color: $color-white;
        padding: 1vh;
        color: $color-text;
        @include flex-box(space-between);
        width: 15%;        
        border-radius: 1.5vh;
        cursor: pointer;
      } 
      .Submit{
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        border: none;
        background: $add-button;
        color: $color-white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'/%3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3C/svg%3E");
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 12px 0 $add-button-shadow;
      }
      .Headings,
      .Columns {
        margin-top: 2vh;
        @include flex-box(space-between);
        
        .Heading {
         flex: 0 1 25%;
         background-color: $color-dark-purple;
         border-radius: 2vh;
         color: $color-white;
         font-size: 1.9vh;
         text-align: center;
         padding: 0.5vh 1vh;
         font-weight: 600;

        }
      }
      .Column {
        padding-top: 2vh;
        flex: 0 25%;
      }

}